# Checkpoint 1

Reminder: 

- You are being evaluated for completion and effort in this checkpoint. 
- Avoid manual labor / hard coding as much as possible, everything we've taught you so far are meant to simplify and automate your process.

We will be working with the same `states_edu.csv` that you should already be familiar with from the tutorial.

We investigated Grade 8 reading score in the tutorial. For this checkpoint, you are asked to investigate another test. Here's an overview:

* Choose a specific response variable to focus on
>Grade 4 Math, Grade 4 Reading, Grade 8 Math
* Pick or create features to use
>Will all the features be useful in predicting test score? Are some more important than others? Should you standardize, bin, or scale the data?
* Explore the data as it relates to that test
>Create at least 2 visualizations (graphs), each with a caption describing the graph and what it tells us about the data
* Create training and testing data
>Do you want to train on all the data? Only data from the last 10 years? Only Michigan data?
* Train a ML model to predict outcome 
>Define what you want to predict, and pick a model in sklearn to use (see sklearn <a href="https://scikit-learn.org/stable/modules/linear_model.html">regressors</a>).


Include comments throughout your code! Every cleanup and preprocessing task should be documented.

<h2> Data Cleanup </h2>

Import `numpy`, `pandas`, and `matplotlib`.

(Feel free to import other libraries!)

In [7]:
import numpy as np
import pandas as pd
import matplotlib as plt

Load in the "states_edu.csv" dataset and take a look at the head of the data

In [5]:
df = pd.read_csv("..//data//states_edu.csv")
print(df.head(5))

       PRIMARY_KEY       STATE  YEAR  ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  \
0     1992_ALABAMA     ALABAMA  1992     NaN      2678885.0         304177.0
1      1992_ALASKA      ALASKA  1992     NaN      1049591.0         106780.0
2     1992_ARIZONA     ARIZONA  1992     NaN      3258079.0         297888.0
3    1992_ARKANSAS    ARKANSAS  1992     NaN      1711959.0         178571.0
4  1992_CALIFORNIA  CALIFORNIA  1992     NaN     26260025.0        2072470.0

   STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
0      1659028.0       715680.0          2653798.0                1481703.0
1       720711.0       222100.0           972488.0                 498362.0
2      1369815.0      1590376.0          3401580.0                1435908.0
3       958785.0       574603.0          1743022.0                 964323.0
4     16546514.0      7641041.0         27138832.0               14358922.0

   ...  GRADES_4_G  GRADES_8_G  GRADES_12_G  GRADES_1_8_G  GRADES_9_12_G  \
0  ...     57948.0     58025.0      41167.0           NaN            NaN
1  ...      9748.0      8789.0       6714.0           NaN            NaN
2  ...     55433.0     49081.0      37410.0           NaN            NaN
3  ...     34632.0     36011.0      27651.0           NaN            NaN
4  ...    418418.0    363296.0     270675.0           NaN            NaN

   GRADES_ALL_G  AVG_MATH_4_SCORE  AVG_MATH_8_SCORE  AVG_READING_4_SCORE  \
0      731634.0             208.0             252.0                207.0
1      122487.0               NaN               NaN                  NaN
2      673477.0             215.0             265.0                209.0
3      441490.0             210.0             256.0                211.0
4     5254844.0             208.0             261.0                202.0

   AVG_READING_8_SCORE
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 25 columns]

You should always familiarize yourself with what each column in the dataframe represents. Read about the states_edu dataset here: https://www.kaggle.com/noriuk/us-education-datasets-unification-project

Use this space to rename columns, deal with missing data, etc. _(optional)_

In [11]:
df.dropna(subset=["AVG_MATH_8_SCORE"], inplace=True)

PRIMARY_KEY                       0
STATE                             0
YEAR                              0
ENROLL                          205
TOTAL_REVENUE                   163
FEDERAL_REVENUE                 163
STATE_REVENUE                   163
LOCAL_REVENUE                   163
TOTAL_EXPENDITURE               163
INSTRUCTION_EXPENDITURE         163
SUPPORT_SERVICES_EXPENDITURE    163
OTHER_EXPENDITURE               205
CAPITAL_OUTLAY_EXPENDITURE      163
GRADES_PK_G                      84
GRADES_KG_G                      74
GRADES_4_G                       74
GRADES_8_G                       74
GRADES_12_G                      74
GRADES_1_8_G                    205
GRADES_9_12_G                   154
GRADES_ALL_G                     74
AVG_MATH_4_SCORE                 38
AVG_MATH_8_SCORE                  0
AVG_READING_4_SCORE              81
AVG_READING_8_SCORE             124
dtype: int64

<h2>Exploratory Data Analysis (EDA) </h2>

Chosen one of Grade 4 Reading, Grade 4 Math, or Grade 8 Math to focus on: Grade 8 Math

How many years of data are logged in our dataset?

In [16]:
print("There are total of {} years of data recorded.".format(len(df["YEAR"].unique())))

There are total of 13 years of data recorded.

Let's compare Michigan to Ohio. Which state has the higher average across all years in the test you chose?

In [26]:
by_state = df.groupby("STATE")
print("Michigan had an average of {:0.2f} points.".format(by_state["AVG_MATH_8_SCORE"].mean()["MICHIGAN"]))
print("Ohio had an average of {:0.2f} points.".format(by_state["AVG_MATH_8_SCORE"].mean()["OHIO"]))
print("Hence, Ohio has a higher score for Grade 8 Math Average than Michigan.")

Michigan had an average of 276.17 points.
Ohio had an average of 282.25 points.
Hence, Ohio had a higher score for Grade 8 Math Average than Michigan.

Find the average for your chosen test across all states in 2019

In [42]:
only_2019 = df[df["YEAR"] == 2019]
print(only_2019[["STATE", "AVG_MATH_8_SCORE"]].head(15).reset_index())

    index                 STATE  AVG_MATH_8_SCORE
0    1662               ALABAMA             269.0
1    1663                ALASKA             274.0
2    1664               ARIZONA             280.0
3    1665              ARKANSAS             274.0
4    1666            CALIFORNIA             276.0
5    1667              COLORADO             285.0
6    1668           CONNECTICUT             286.0
7    1669              DELAWARE             277.0
8    1670  DISTRICT_OF_COLUMBIA             269.0
9    1671                 DODEA             292.0
10   1672               FLORIDA             279.0
11   1673               GEORGIA             279.0
12   1674                HAWAII             275.0
13   1675                 IDAHO             286.0
14   1676              ILLINOIS             283.0

For each state, find a maximum value for your chosen test score

In [45]:
print(df.loc[df.groupby('STATE')['AVG_MATH_8_SCORE'].idxmax(), ['STATE', 'YEAR', 'AVG_MATH_8_SCORE']].reset_index(drop=True))

                   STATE  YEAR  AVG_MATH_8_SCORE
0                ALABAMA  2009             269.0
1                 ALASKA  2007             283.0
2                ARIZONA  2015             283.0
3               ARKANSAS  2011             279.0
4             CALIFORNIA  2017             277.0
5               COLORADO  2011             292.0
6            CONNECTICUT  2009             289.0
7               DELAWARE  2009             284.0
8   DISTRICT_OF_COLUMBIA  2019             269.0
9                  DODEA  2017             293.0
10               FLORIDA  2013             281.0
11               GEORGIA  2017             281.0
12                HAWAII  2013             281.0
13                 IDAHO  2009             287.0
14              ILLINOIS  2013             285.0
15               INDIANA  2013             288.0
16                  IOWA  2015             286.0
17                KANSAS  2007             290.0
18              KENTUCKY  2011             282.0
19             LOUISIANA  2011             273.0
20                 MAINE  2011             289.0
21              MARYLAND  2009             288.0
22         MASSACHUSETTS  2013             301.0
23              MICHIGAN  2011             280.0
24             MINNESOTA  2011             295.0
25           MISSISSIPPI  2019             274.0
26              MISSOURI  2009             286.0
27               MONTANA  2011             293.0
28              NATIONAL  2013             285.0
29              NEBRASKA  2017             288.0
30                NEVADA  2011             278.0
31         NEW_HAMPSHIRE  2013             296.0
32            NEW_JERSEY  2013             296.0
33            NEW_MEXICO  2011             274.0
34              NEW_YORK  2009             283.0
35        NORTH_CAROLINA  2011             286.0
36          NORTH_DAKOTA  2009             293.0
37                  OHIO  2013             290.0
38              OKLAHOMA  2011             279.0
39                OREGON  2009             285.0
40          PENNSYLVANIA  2013             290.0
41          RHODE_ISLAND  2013             284.0
42        SOUTH_CAROLINA  2007             282.0
43          SOUTH_DAKOTA  2009             291.0
44             TENNESSEE  2019             280.0
45                 TEXAS  2011             290.0
46                  UTAH  2017             287.0
47               VERMONT  2013             295.0
48              VIRGINIA  2017             290.0
49            WASHINGTON  2013             290.0
50         WEST_VIRGINIA  2013             274.0
51             WISCONSIN  2011             289.0
52               WYOMING  2017             289.0

*Refer to the `Grouping and Aggregating` section in Tutorial 0 if you are stuck.

<h2> Feature Engineering </h2>

After exploring the data, you can choose to modify features that you would use to predict the performance of the students on your chosen response variable. 

You can also create your own features. For example, perhaps you figured that maybe a state's expenditure per student may affect their overall academic performance so you create a expenditure_per_student feature.

Use this space to modify or create features.

Feature engineering justification: **<BRIEFLY DESCRIBE WHY YOU MADE THE CHANGES THAT YOU DID\>**

<h2>Visualization</h2>

Investigate the relationship between your chosen response variable and at least two predictors using visualizations. Write down your observations.

**Visualization 1**

**<CAPTION FOR VIZ 1>**

**Visualization 2**

**<CAPTION FOR VIZ 2>**

<h2> Data Creation </h2>

_Use this space to create train/test data_

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# X =
# y =

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(
#      X, y, test_size=, random_state=42)

<h2> Prediction </h2>

ML Models [Resource](https://medium.com/@vijaya.beeravalli/comparison-of-machine-learning-classification-models-for-credit-card-default-data-c3cf805c9a5a)

In [ ]:
# import your sklearn class here

In [ ]:
# create your model here
# model =

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

## Evaluation

Choose some metrics to evaluate the performance of your model, some of them are mentioned in the tutorial.

We have copied over the graphs that visualize the model's performance on the training and testing set. 

Change `col_name` and modify the call to `plt.ylabel()` to isolate how a single predictor affects the model.

In [ ]:
# col_name = 'COLUMN NAME OF ONE PREDICTOR'

# f = plt.figure(figsize=(12,6))
# plt.scatter(X_train[col_name], y_train, color = "red")
# plt.scatter(X_train[col_name], model.predict(X_train), color = "green")

# plt.legend(['True Training','Predicted Training'])
# plt.xlabel(col_name)
# plt.ylabel('NAME OF THE PREDICTOR')
# plt.title("Model Behavior On Training Set")

In [ ]:
# col_name = 'COLUMN NAME OF ONE PREDICTOR"

# f = plt.figure(figsize=(12,6))
# plt.scatter(X_test[col_name], y_test, color = "blue")
# plt.scatter(X_test[col_name], model.predict(X_test), color = "black")

# plt.legend(['True testing','Predicted testing'])
# plt.xlabel(col_name)
# plt.ylabel('NAME OF THE PREDICTOR')
# plt.title("Model Behavior on Testing Set")